.iframemap{
    display: flex;
    justify-content: right;
    width: 100%;
    margin: 10px 0 30px;
    padding-top: 20px;
}

.texto-form-cont {
    display: flex;
    text-align: center;
    justify-content: left;
    margin-top: 5px;
}
