//FOOTER//
footer{
    background-color: $color-principal;
    margin: 80px 0px 0px 0px;
    text-decoration:none;
    color: whitesmoke !important; 
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 20px;
    list-style: none; 
    transition: all 300ms;
    

}
.icono {
    padding: 10px;
}

.icono :hover{
    
        transform: scale(1.5);
        overflow: none;

  }

.medio-de-pago {
    margin-bottom: 3px;
    text-align: center;
    
}



.footer-col * {
    color:#E49AB0;
}

.footer-col {
    padding: 10px;
}

.texto-footer {
    padding: 5px;
    text-decoration: underline;
}

.formulario-footer {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    outline: none;
    border: none;
    color: white;
    background-color: #E49AB0;
    color: $color-principal;
}

.formulario-footer:focus {
    color: white;
}

.foo{
    display: flex;
}

.btn-email {
    box-sizing: border-box;
    border: 2px solid #E49AB0;
}

.btn-email:hover {
    color: white;
    background-color: #E49AB0;
}
