*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    color: $color-principal;
}

body {font-family: 'Lato', sans-serif;}

.footer {
    color:  #E49AB0;
}

//titulos de todos los html excepto index//
.titulo-principal{ 
    display: flex;
    text-align: center;
    background-image: url(../multimedia/imagenes/fondo\ 1.jpeg);
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: whitesmoke;
    .h1 { font-weight: bold;}
} 






