.text-nosotros {
    
    margin: 10px;
    height: 50vh;
    font-size: large;
    height: 100%;
    justify-content: center;
    align-self: center;
}

.nosotros-cuerpo {
    margin: auto;
    padding: 2rem;
    justify-items: center;
    align-items: center;
}

.imagen-nosotros {
    width: 100%;
    height: 60vh;
}
