.sub-presupuesto {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
   
}

.mb-3 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
 .form-presupuesto {
    border-radius: 25px ;
    border: $color-principal solid 5px ;
 }

